body{
	background-color: #EFEFEF;
	max-width: 100%;
}
.container{
	max-width: 100%;
}

.logo{
	display: flex;
	width: 100%;
	background-color: #0ABAB5;
	font-size: 48px;
	font-family: Cambria;

}
.cont-menu{
	display: flex;
	padding: auto 3px;
	margin: 30px auto;
	vertical-align: center;
}
.tema {
  text-align: center;
  align-self: flex-end;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 100px;
  background: #ecf4ff;
}
.cblk-topo a{
	text-decoration: none;
	color: black;
	margin:10px;
	padding:auto 5px;
}
.menu-topo li{
	display: inline;
	padding: 30px auto ;
	margin:  20px 5px;
	font-weight: bold;

}
.menu-topo a{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	vertical-align: center;
}
.menu-topo a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}

.container-lat{
	display: flex;
	width: 15%;
	padding: 50px 20px;
}
.perfil {
  display: flex;
}
.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titulo {
  margin-left: 16px;
}
.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}
.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}	
}
.link-menu-lateral {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
.rodape{
	text-align: center;
	font-size:14px;
	font-style:italic;
	background-color:#CCC;

}
.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
  transition: 200ms;
}
.dark .container .logo {
  background: #333439;
  color: #f6f6f6;
  transition: 200ms;
}
.dark .tema button {
  background: #1c1c1c;
  color: #fff;
  border: 2px solid #f7f7f7;
  transition: 200ms;
}
.dark .rodape{
	background: #333439;
  color: #f6f6f6;
  transition: 200ms;
}
.dark .logo .menu-topo a{
	color: #f6f6f6;
  transition: 200ms;	
}
.dark .cont-menu{
	color: #f6f6f6;
  transition: 200ms;	
}
.dark .tema button {
  background: #1c1c1c;
  color: #fff;
  border: 2px solid #f7f7f7;
  transition: 200ms;
}

